
out/
build/
bin/
Debug/
Release/
x64/
x86/


CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
Makefile
CMakeUserPresets.json


.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb


.vscode/


*.ob
*.exe
*.dll
*.lib
*.pdb
*.ilk


Thumbs.db
.DS_Store